<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scavange</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/src/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.mapbox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.css">
    <script src="https://unpkg.com/cheap-ruler@3.0.1/cheap-ruler.js"></script>
 <style>

    html, body, #map {
            padding: auto;
            height: 100%;
            width: 100%;
         }
    footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        height: 40px;
        text-align: center;
        margin: auto;
        z-index: 1;
    }
    header {
        position: fixed;
        padding: 10px 10px 0px 10px;
        top: 0;
        margin: auto;
        text-align: center;
        width: 100%;
        height: 40px;
        z-index: 22;
    }
    header > img {
        vertical-align: bottom;
    }
    .leaflet-marker-icon {
        z-index: -1;
    }
 </style>
</head>
<body>
    <header id="charge">{{points}}&times;<img src="/static/battery.png"></header>
    <div id="map"></div>
    <footer>
        {% for i in badges%}
            <a href="{{i[1]|safe}}"><img src="{{i[0]|safe}}" width="96px" height="28px"></a>
        {% endfor %}
    </footer>
</body>
<script>
    you = [{{lon}}, {{lat}}].reverse();
    var map = L.map('map').setView(you, 17)//.locate({setView: true, maxZoom: 16});
    L.tileLayer('https://api.mapbox.com/styles/v1/yopo/cl3yq1zr3000014oaaez3upb0/tiles/512/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoieW9wbyIsImEiOiJjbDA0bzhoM2EwMWhiM2NxajV2Zm1lYmpyIn0.kL4KlQH8tl89C6dJtL31gw', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);
    L.Icon.Default.imagePath = "/static/markers/";
    var fallout = new L.icon({
        iconUrl: '/static/markers/fallout.png'
    })
    const ruler = new CheapRuler(you[1], 'meters');
    var locate = L.control.locate({
        locateOptions: {
            enableHighAccuracy: true
        },
        metric: false
    }).addTo(map);
    locate.start();
    you = you.reverse();
    coordinates = [];
    {% for i in stuff%}
            var i = {{i|tojson}};
            popup = "<a href=https://www.google.com/maps/dir/?api=1&destination="+i.properties.lat+encodeURIComponent(", ")+i.properties.lon+"&travelmode=walking>"+i.properties.formatted+"</a>";
            if (i.properties.hasOwnProperty("name")) {
                popup = i.properties.name+"<br>("+popup+")";
            }
            if (i.properties.details.includes("details.artwork")) {
                popup = "<img src='/static/markers/art.png' width='16px'>"+popup
            }
            marker = L.marker([i.properties.lat, i.properties.lon], {icon: fallout}).addTo(map);
            marker.bindPopup(popup);
            coordinates.push({"id":i.properties.place_id,"coordinates":{"lat":i.properties.lat,"lon":i.properties.lon}})
            if (i.properties.details.length !== 0){
                console.log(i.properties);
            }
    {% endfor %}
    options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      };
      var imageUrl = 'https://game-design-mb.herokuapp.com/static/markers/charge.gif'
      function success(pos) {
        var crd = pos.coords;
        coordinates.forEach((i) => {
            if (ruler.distance([crd.longitude, crd.latitude], [i.coordinates.lon, i.coordinates.lat]) < 50) {
                alert("you have reached your target "+JSON.stringify(i));

            }
        })
      }
      function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
      }
    id = navigator.geolocation.watchPosition(success, error, options);

</script>
</html>